/* ?SETTINGS */
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.container {
  width: 1140px;
  margin: 0px auto;
}

/* ?PROMO SECTION */
.promo {
  padding: 38px 0px 61px 0px;
  min-height: 800px;
  background: url("../img/main_bg.jpg") center center/cover no-repeat;
}

.promo-logo .promo-logo_img {
  display: block;
  margin: 0px auto;
}

.promo-logo .promo-logo_text {
  text-align: center;
  margin-top: 10px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
}

.promo-title {
  text-align: center;
  font-family: Roboto;
  font-weight: 900;
  text-transform: uppercase;
  margin-top: 53px;
}

.promo-title .promo-header {
  font-size: 41px;
  line-height: 41px;
  color: #f9bf3b;
}

.promo-title .promo-header_lower {
  margin-top: 21px;
}

.promo-title .promo-header_simple {
  margin-top: 21px;
}

.promo-title .promo-header_big {
  font-size: 80px;
  line-height: 80px;
  color: #ffffff;
}

.promo-description {
  margin-top: 23px;
  padding: 0px 13px;
  text-align: center;
}

.promo-description .promo-description_text {
  font-family: Roboto;
  font-size: 21px;
  line-height: 28px;
  font-weight: 300;
  color: #ffffff;
}

.promo-description .promo-description_text span {
  font-weight: 700;
  color: #f9bf3b;
  text-transform: uppercase;
}

.promo .promo-btn {
  display: block;
  width: 321px;
  height: 80px;
  background-image: linear-gradient(0deg, #2798b9 0%, #3ab6da 100%);
  border: 4px solid rgba(0, 0, 0, 0.22);
  box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.17);
  cursor: pointer;
  outline: none;
  margin: 0px auto;
  margin-top: 72px;

  box-shadow: -1px -1px 0px 0px rgba(0, 0, 0, 0.21);
  font-family: RobotoCondensed;
  font-size: 21px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
}

.promo-more {
  margin-top: 69px;
}

.promo-more .promo-more_text {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 100;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

.promo-more .promo-more_icon {
  display: block;
  margin: 0px auto;
  margin-top: 5px;
  cursor: pointer;
}

/* ?Waiting section */

.waiting {
  min-height: 607px;
  background: #efefef;
  padding: 88px 0px 75px 0px;
}

.waiting-header .waiting-header_title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

.waiting-header .waiting-header_divider {
  width: 220px;
  height: 7px;
  background: #f9bf3b;
  margin: 0px auto;
  margin-top: 18px;
}

.waiting-header .waiting-header_description {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 20px;
  text-align: center;
  color: #4a4a4a;
  margin-top: 19px;
}

.waiting-list {
  display: flex;
  justify-content: space-between;
  margin-top: 46px;
  list-style: none;
}

.waiting-list .waiting-list_item {
  width: 342px;
}

.waiting-item_desc {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 21px;
  color: #4a4a4a;
  text-align: center;
  margin-top: 26px;
}
